@model CAMTEX.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Home.cshtml";
}
<script src="~/js/libs/jquery-3.2.1.min.js"></script>
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
    <div class="well">

        <form method="post" class="smart-form client-form">
            @Html.AntiForgeryToken()
            <header style="text-align: center;">
                <span id="logo">
                    <img src="~/img/textiles-camones.svg" />
                </span>
                <br />
                <span style="font-size: 22px;color: #007cbc;font-weight: bold;align-content: center;">MVC TELA</span>

            </header>

            <fieldset >
                <!--<section >
                    <label class="label">Perfil</label>
                    <label class="input">
                        <i class="icon-append fa fa-user"></i>-->
                        @*@Html.DropDownListFor(model => model.IdSede, new SelectList(Model.ListaSede, "IdSede", "Sede"), "[SELECCIONE]", new { @class = "form-control selectpicker", id = "IdSede", style = "width: 100%;" })*@

                        <!--@Html.DropDownListFor(model => model.IdProyecto,
                            new List<SelectListItem>
                             {
                                               new SelectListItem{ Text= "Tablas básicas", Value = "1" },
                                               new SelectListItem{ Text= "Cola de trabajo de Costura", Value = "2" },
                                               new SelectListItem{ Text= "Registro de producción", Value = "3" },
                                               new SelectListItem{ Text= "Programación de mecánicos por Línea", Value = "4" },

                             }, "-- SELECCIONAR PERFIL --", new { @class = "form-control", id = "TipoUsuario" })
                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Ingrese su usuario</b>
                    </label>
                </section>-->


                <section>
                    <label class="label">Usuario</label>
                    <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "form-control", id = "NombreUsuario", name = "NombreUsuario", required = "required", type = "text", placeholder = "Email", autocomplete = "off", @maxlength = "50", @minlength = "3", data_valid = "num_car" })
                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Ingrese su usuario</b>
                    </label>
                </section>

                <section id="divClave">
                    <label class="label">Clave</label>
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        @Html.TextBoxFor(model => model.Clave, new { @class = "form-control", id = "Clave", name = "Clave", type = "password", @placeholder = "Clave", @maxlength = "100", @minlength = "3" })
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingrese su contraseña</b>
                    </label>
                </section>
            </fieldset>
            <footer>
                <a href='@Url.Action("ForgotPassword", "Account")'>
                    <input type='button' value='Recuperar Clave' />
                </a>

                <button type="submit" class="btn btn-primary" name="button">
                    Iniciar sesion
                </button>
                <div class="form-group text-center">
                    @Html.ValidationSummary(false)

                </div>
            </footer>
        </form>

    </div>

    @{
        var parameter = Request.QueryString["ac"];
        //Check parameter here and display Message
        if (parameter == "success")
        {
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Se ha enviado la clave a su correo.</strong>
            </div>
        }
    }

</div>

<script>

    $(document).ready(function () {

    });

</script>


<script src="@Url.Content("~/Content/Scripts/Base/js_Login.js")"></script>