@using CAMTEX.UtilGeneral
@using CAMTEX.Web.Helper
@using MVCBase.Util
@{
    string cadena;
    string globalLogueado = "0";
    if (Context.IsDebuggingEnabled)
    {
        cadena = Url.Content("~/");
    }
    else
    {
        cadena = Url.Content("~/");
    }

    if (Request.IsAuthenticated)
    {
        globalLogueado = "1";
    }
    VariablesWeb.RutaServidor = cadena;
    //CAMTEX.Entidades.USUARIO Usuario = VariablesWeb.Usuario;
    //CAMTEX.Entidades.ENUsuario ENUsuario = VariablesWeb.ENUsuario;
    List<CAMTEX.Entidades.RUTAS> listaOpciones = VariablesWeb.ListaRutas;
    //List<CAMTEX.Entidades.SISTEMAS> listaSistemas = VariablesWeb.ListaSistemas;
}
<!DOCTYPE html>
<html lang="es" class="mod-skin-dark">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MVC TELA</title>
    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-skins.min.css">

    <link rel="shortcut icon" href="~/img/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.png" type="image/x-icon">



    <!-- Include FileSaver.js -->
    <script src="~/js/libs/FileSaver.js"></script>

    <!-- Include ExcelJS -->
    <script src="~/js/exceljs.js"></script>



    <!-- jQuery -->
    <script src="~/js/libs/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <!-- Bootstrap JS (popper.js es necesario si estás utilizando el componente de dropdown de Bootstrap) -->
    <script src="~/js/bootstrap/bootstrap-4.5.2.bundle.min.js"></script>










    <link href="@Url.Content("~/Content/css/General.css")" rel="stylesheet" type="text/css" />

    <link href="~/Content/Sweetalert/sweetalert2.css" rel="stylesheet" />
    @*sq
        <script src="~/js/libs/jquery-3.2.1.min.js"></script>
        <script src="~/js/libs/jquery-ui.min.js"></script>
        <script src="@Url.Content("~/Content/Scripts/bootbox.min.js")"></script>
        <script src="@Url.Content("~/Content/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
        <script src="@Url.Content("~/Content/Kendo/js/cultures/kendo.culture.es-PE.min.js")"></script>
            <script src="@Url.Content("~/Content/Kendo/js/messages/kendo.messages.es-ES.min.js")"></script>
        <link href="~/Content/kendo2023/default-main.css" rel="stylesheet" />
        <script src="~/Content/kendo2023/kendo.all.min.js"></script>
        <script src="~/Content/Kendo/js/cultures/kendo.culture.es-PE.min.js"></script>
        <script src="~/Content/Kendo/js/messages/kendo.messages.es-PE.min.js"></script>

        <script src="~/Content/Sweetalert/sweetalert2.js"></script>


        <script src="~/Content/ModalContent/bootstrap.min.js"></script>
        <script src="~/Content/ModalContent/run_prettify.min.js"></script>
        <script src="~/Content/js/pdf-lib.min.js"></script>
        <script src="~/Content/js/download.js"></script>
        <script src="~/Content/Scripts/jquery.blockUI.js"></script>
        <script src="~/Content/Kendo/src/jszip.min.js"></script>
        <script src="~/Content/plugins/moment/moment.min.js"></script>*@
    <script src="~/Content/Sweetalert/sweetalert2.all.min.js"></script>




    <script src="~/Content/DevExpress/jquery-3.5.1.min.js"></script>
    <script src="~/Content/DevExpress/dx.all.js"></script>
    <link href="~/Content/DevExpress/dx.generic.custom-scheme.css" rel="stylesheet" />
    <script src="~/Content/DevExpress/dx.aspnet.data.js"></script>
    @*<script src="https://unpkg.com/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>*@
    @*<script src="https://cdn3.devexpress.com/jslib/22.2.6/js/localization/dx.messages.es.js"></script>*@
    <script src="~/Content/DevExpress/localization_dx.messages.es.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/js_General.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/jquery.blockUI.js")"></script>
    <link href="~/Content/ModalContent/bootstrap-dialog.css" rel="stylesheet" />
    <script src="~/Content/ModalContent/bootstrap-dialog.js"></script>

    <style>
        #logo {
            margin-top: 5px !important;
            margin-left: 9px !important;
        }

        .size-wide-dialog-90Perc .modal-dialog {
            width: 90%;
        }

        .dx-overlay-shader {
            pointer-events: auto;
            background-color: rgb(83 83 83 / 72%);
        }

        .dx-widget {
            font-family: 'Open Sans', sans-serif !important;
            font-weight: normal !important;
            font-size: 12px !important;
        }
    </style>
</head>

<body class="desktop-detected pace-done smart-style-7 mod-skin-dark">
    <script>
        DevExpress.localization.locale(navigator.language);
    </script>
    @*// 6*@
    <input type="hidden" id="TokenUser" value="" />
    <input type="hidden" id="Token" value="" />


    <!-- #HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo">
                <img src="~/img/logo.png" class="image" style="width: 110px;height: 39px;" />
            </span>

            <!-- END LOGO PLACEHOLDER -->
        </div>

        <!-- #TOGGLE LAYOUT BUTTONS -->
        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->
            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                <li class="">
                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                        <img src="../img/avatars/sunny.png" alt="John Doe" class="online" />
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Pantalla <u>C</u>ompleta</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>C</u>errar Sesion</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="@Url.Action("Unlog", "Account")" title="Cerrar Sesión" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->
            <!-- search mobile button (this is hidden till mobile view port) -->
            <div id="search-mobile" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
            </div>
            <!-- end search mobile button -->
            <!-- #SEARCH -->
            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Pantalla Completa"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>
            <!-- end fullscreen button -->


        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->
    <!-- #NAVIGATION -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->

    <aside id="left-panel">
        <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

        <!-- User info -->
        <div class="login-info">
            <span>
                <!-- User image size is adjusted inside CSS, it should stay as is -->

                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                    <img src="~/img/avatars/sunny.png" alt="me" class="online" />
                    @*<span>*@
                    @*@User.Identity.Name*@
                    @*@Usuario.ProyectoNombre*@
                    @*<label id="nombreUsuario">Invitado</label>*@
                    @*</span>*@
                    <span>
                        @User.Identity.Name
                        @*@ENUsuario.Usuario*@
                        @*<label id="nombreUsuario">Invitado</label>*@
                    </span>
                    <br />
                    @*<span style="display:none" id="fotocheck">@User.Identity.Name</span>*@
                    <i style="display:none" class="fa fa-angle-down"></i>
                </a>

            </span>
        </div>

        <nav>


            <ul>
            </ul>
            @*@if (listaOpciones != null)
        {
            @Html.CustomMenu(listaOpciones, "Custom-menu")
        }*@
            <ul>
                <li>
                    @*<a href="#"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">REPORTES</span><b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>*@

                    <a href="../home/INDEX"><i class="fa fa-home fa-2x"></i> &nbsp;&nbsp; INICIO</a>
                    @*</ul>*@
                </li>
            </ul>
            <!--
            <ul>
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Producción</span><b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>
                    <ul style="display: block;">
                        <li class="open">
                            <ul style="display: block;">
                                <li>
                                    <a href="../RegistroProduccion/Index"><i class="fa fa-pencil-square-o"></i> Registro Producción</a>
                                </li>
                                <li>
                                    <a href="../Tablet/Index"><i class="fa fa-pencil-square-o"></i> Tablet</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
    -->
            @*
            <ul class="collapsible-menu">
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Fibra</span><b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>
                    <ul style="display:block;">

                        <li>
                            <a href="../Fibra/Index"><i class="fa fa-pencil-square-o"></i> Fibra</a>
                        </li>


                        <li>
                            <a href="../TipoFibra/Index"><i class="fa fa-pencil-square-o"></i>Tipo Fibra</a>
                        </li>


                        <li>
                            <a href="../ColorFibra/Index"><i class="fa fa-pencil-square-o"></i>Color Fibra</a>
                        </li>

                    </ul>
                </li>
            </ul>


            <ul class="collapsible-menu">
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Hilado</span><b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>
                    <ul style="display:block;">

                        <li>
                            <a href="../TipoFabrica/Index"><i class="fa fa-pencil-square-o"></i>Tipo de Fabrica</a>
                        </li>


                        <li>
                            <a href="../TipoHilado/Index"><i class="fa fa-pencil-square-o"></i>Tipo de Hilado</a>
                        </li>


                        <li>
                            <a href="../ProcesoHilado/Index"><i class="fa fa-pencil-square-o"></i>Proceso Hilado</a>
                        </li>

                        <li>
                            <a href="../SentidoTorsion/Index"><i class="fa fa-pencil-square-o"></i>Sentido Torsion</a>
                        </li>

                        <li>
                            <a href="../TipoTorsion/Index"><i class="fa fa-pencil-square-o"></i>Tipo Torsion</a>
                        </li>

                        <li>
                            <a href="../Sistema/Index"><i class="fa fa-pencil-square-o"></i>Sistema</a>
                        </li>

                        <li>
                            <a href="../TituloHilado/Index"><i class="fa fa-pencil-square-o"></i>Titulo Hilado</a>
                        </li>


                        <li>
                            <a href="../Apariencia/Index"><i class="fa fa-pencil-square-o"></i>Apariencia</a>
                        </li>


                        <li>
                            <a href="../CompHilado/Index"><i class="fa fa-pencil-square-o"></i>Composicion</a>
                        </li>


                        <li>
                            <a href="../TipoLustre/Index"><i class="fa fa-pencil-square-o"></i>Tipo Lustre</a>
                        </li>


                        <li>
                            <a href="../HiladoFlame/Index"><i class="fa fa-pencil-square-o"></i>Hilado Flame</a>
                        </li>



                        <li>
                            <a href="../ColorHilado/Index"><i class="fa fa-pencil-square-o"></i>Color Hilado</a>
                        </li>


                        <li>
                            <a href="../AcabadoHilado/Index"><i class="fa fa-pencil-square-o"></i>Acabado Hilado</a>
                        </li>

                    </ul>
                </li>
            </ul>


            <ul class="collapsible-menu">
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Codificacion</span><b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>
                    <ul style="display:block;">

                        <li>
                            <a href="../MHilado/Index"><i class="fa fa-pencil-square-o"></i>Mantenimiento Hilado</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <ul class="collapsible-menu">
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Retorcido</span><b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b></a>
                    <ul style="display:block;">

                        <li>
                            <a href="../ProcRetorcido/Index"><i class="fa fa-pencil-square-o"></i>Proceso de Retorcido</a>
                        </li>

                        <li>
                            <a href="../HiloRetorcido/Index"><i class="fa fa-pencil-square-o"></i>Composicion Retorcido</a>
                        </li>

                    </ul>
                </li>
            </ul>
            
            *@

            @*
            @if (listaOpciones != null)
            {
                @Html.CustomMenu(listaOpciones, "Custom-menu")
            }
                *@
        </nav>

        <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

    </aside>

    <!-- #MAIN PANEL -->
    <div id="main" role="main" class="">

        <!-- RIBBON -->
        <div id="ribbon">


            <!-- breadcrumb -->
            @{
                @Html.Breadcrumb()

            }

            @*<ol class="breadcrumb">
                    <li>Home</li>
                    <li>Inicio</li>
                </ol>*@
        </div>
        <!-- END RIBBON -->
        <!-- #MAIN CONTENT -->
        <!-- col -->
        @RenderBody()

        <!-- end col -->
        <!-- END #MAIN CONTENT -->

    </div>
    <!-- END #MAIN PANEL -->
    <!-- #PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">SIG-APP 1.0.x <span class="hidden-xs"> - Apliacion Web Camones</span> 2025 - creado por Area Sistemas </span>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- END FOOTER -->

    <div id="shortcut">

    </div>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/js/app.config.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    <!--[if IE 8]>
        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/js/app.min.js"></script>
   
    <script>
        $.root_.removeClass("hidden-menu");
        $('html').removeClass("hidden-menu-mobile-lock");

        $(document).ready(function () {
            var currentUrl = "../.." + window.location.pathname.toLowerCase();
            console.log("currentUrl: ", currentUrl);

            // Ocultar todos los submenús inicialmente
            $("nav ul ul").css("display", "none");

            $("nav ul li a").each(function () {
                var link = $(this).attr("href").toLowerCase();
                console.log("link: ", link);
                if (currentUrl.includes(link)) {
                    var listItem = $(this).closest("li");
                    listItem.addClass("activo");

                    // Mostrar el <ul> padre del <li class="activo">
                    listItem.closest("ul").css("display", "block");
                }
            });
        });


        window.addEventListener('message', function (event) {
            console.log('Mensaje recibido:', event.data);
            if (event.data === 'session_terminada') {
                // Redirigir inmediatamente al cierre de sesión
                window.location.href = '/Account/Unlog';

                // Crear un div para bloquear la ventana y mostrar el mensaje de sesión terminada
                var bloqueo = document.createElement('div');
                bloqueo.style.position = 'fixed';
                bloqueo.style.top = '0';
                bloqueo.style.left = '0';
                bloqueo.style.width = '100%';
                bloqueo.style.height = '100%';
                bloqueo.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';
                bloqueo.style.color = 'white';
                bloqueo.style.display = 'flex';
                bloqueo.style.justifyContent = 'center';
                bloqueo.style.alignItems = 'center';
                bloqueo.style.fontSize = '24px';
                bloqueo.style.zIndex = '10000';
                bloqueo.textContent = 'Sesión terminada. Redirigiendo...';

                // Evitar selección de texto
                document.body.style.userSelect = 'none';

                // Evitar eventos de teclado
                document.addEventListener('keydown', function (event) {
                    event.preventDefault();
                }, true);

                // Evitar clics en otros elementos
                document.addEventListener('click', function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                }, true);

                document.body.appendChild(bloqueo);
            }
        }, false);




        //kendo.culture("es-PE");
        $('.sis-net').on('click', function (e) {
            //alert(this.getAttribute("sis"));


            $.ajax({
                datatype: 'json',
                contentType: "application/json",
                url: '/Account/Redireccion',
                type: 'POST',
                data: JSON.stringify({ key: this.getAttribute("sis") }),
                beforeSend: function () {
                    bloquoteObject();
                },
                success: function (data) {
                    debugger;
                    console.log(data);
                    if (!data.rpta) {
                        AlertMessage(data.result);

                    } else {
                        //AlertMessage(data.result);
                        window.location.href = data.url;
                    }

                    desbloqObject();
                }
            }).fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;
                console.log("Request Failed: " + err);
                desbloqObject();
            });
        });



        function closeTab() {
            // Intenta cerrar la pestaña
            window.close();

            // Si la pestaña no se cierra, redirige a una página de confirmación
            setTimeout(function () {
                alert('No se pudo cerrar la pestaña automáticamente. Por favor, ciérrela manualmente.');
            }, 1000);
        }

    </script>

</body>

</html>



<style>


    .activo {
        background-color: #d9534f !important;
        color: white !important;
    }


    #left-panel {
        height: 50vh; /* Hace que el aside ocupe el 100% de la altura de la ventana */
        overflow-y: auto; /* Activa el scroll vertical si el contenido es demasiado grande */
        overflow-x: hidden; /* Oculta el scroll horizontal */
    }


    .dx-datagrid-headers {
        color: #ffffff;
        font-weight: 600;
        background: #5eb7f1;
    }

    .dx-button-mode-contained {
        background-color: #f1f3f4;
        border-color: #e2e4e5;
        color: #002762;
    }

    .dx-datagrid-header-panel {
        padding: 0;
        background-color: #002762;
    }

    #gridContainer .dx-datagrid-header-panel {
        padding: 0;
        background-color: #002762;
    }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 70px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
            background-color: rgba(103, 171, 255, 0.6);
        }

        #gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
            padding-right: 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-selectbox {
            margin: auto 10px;
        }

        #gridContainer .dx-datagrid-header-panel .dx-button {
            margin: auto 0;
        }

    #gridContainer .informer {
        height: 70px;
        width: 130px;
        text-align: center;
        color: #fff;
    }

    #gridContainer .count {
        padding-top: 15px;
        line-height: 27px;
        font-size: 28px;
        margin: 0;
    }

    th[role=columnheader] {
        /*background-color: #666;*/
        /*color: #fff;*/
        justify-content: center;
        font-weight: bold !important;
        vertical-align: middle !important;
    }

    .size-wide-dialog-1800 .modal-dialog {
        width: 1800px;
    }

    .size-wide-dialog-1700 .modal-dialog {
        width: 1700px;
    }

    .size-wide-dialog-1600 .modal-dialog {
        width: 1600px;
    }

    .size-wide-dialog-1500 .modal-dialog {
        width: 1500px;
    }

    .size-wide-dialog-1400 .modal-dialog {
        width: 1400px;
    }

    .size-wide-dialog-1300 .modal-dialog {
        width: 1300px;
    }

    .size-wide-dialog-1200 .modal-dialog {
        width: 1200px;
    }

    .size-wide-dialog-1100 .modal-dialog {
        width: 1100px;
    }

    .size-wide-dialog-1000 .modal-dialog {
        width: 1000px;
    }

    .size-wide-dialog-90Perc .modal-dialog {
        width: 90%;
    }

    .mod-skin-dark {
        background-color: #37393e !important
    }

    #main {
        max-height: 100% !important
    }
</style>
